.container{
    margin: 1px auto 0 auto;
    max-width: 1440px;
    padding: 0 80px;
    background-color:  hsl(0, 0%, 98%);
    justify-self: center;
    box-sizing: border-box;

    &.dark-mode{
        background-color:  hsl(207, 26%, 17%);
    }
}

@media( max-width: 768px){

    .container{
        padding: 0 4%;
    }
}