.search-bar{
    height: 150px;
    width: 100%;
    padding: 50px 0;
    box-sizing: border-box;
    display: flex;
}

@media( max-width: 768px){

    .search-bar{
        flex-direction: column;
        height: fit-content;
    }
}