.country-display{
    max-width: 1440px;
    padding: 70px 80px 0 80px;
    justify-self: center;
    margin:0 auto;
    box-sizing: border-box;

    .back-button{
        width: 140px;
        font-size: 20px;
        text-decoration: none;
        padding: 15px 40px;
        background-color: white;
        box-shadow: 0 0 7px hsl(0, 0%, 52%);
        border-radius: 5px;
    }
 
    .box{
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
    } 

    .value{
        font-size: 20px;
        display: inline;;
    }

    .title{
        font-size: 20px;
        display: inline;;
        font-weight:600;
        white-space: nowrap;
    }
    
    .country-info-display{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
        
        div{
            margin-bottom: 20px;
        }

        .country-info-display1{
            min-width: 250px;
            align-self: center;
        }
    }
 
    .flag{
        width: 560px;
        min-width: 560px;
        height: 400px;
        box-shadow: 0 0 1px hsl(0, 0%, 52%);
        margin-right: 20px;
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    .country-name{
        font-size: 30px;
        font-weight: 800;
        margin-bottom: 20px;
    }
    
    .border-countries{
        margin-top: 20px;
        display: flex;
        align-items: flex-start;

        .value{
            display: flex;
            flex-wrap: wrap;
        }

        a{
            box-shadow: 0 0 2px hsl(0, 0%, 52%);
            margin:0 10px 10px ;
            padding: 5px 10px;
            font-size: 20px;
            white-space: nowrap;
            overflow: hidden;
        }
    }
    
    &.dark-mode{
        background-color:  hsl(207, 26%, 17%);
        color: white;

        .back-button{
          background-color:  hsl(209, 23%, 22%);
          color: white;
          box-shadow: 0 0 7px hsl(207, 26%, 17%);
        }

        .flag{
            box-shadow: 0 0 1px hsl(207, 26%, 17%);
        }

        .border-countries{
           
            a{
                background-color:  hsl(209, 23%, 22%);
                box-shadow: 0 0 2px  hsl(207, 26%, 17%);
                color: white;
            }
        }
    }
    
}



@media( max-width: 768px){

    .country-display{
        flex-direction: column;
        padding: 70px 4% 0 4%;
        justify-content: center;

        .back-button{
          box-sizing: border-box;
           justify-self: start;
           width: 4%;
           padding: 12px 2%;
        }
     
        .box{
            flex-direction: column;
        } 
    
        .country-info-display{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: auto;

            
            div{
                margin-bottom: 20px;
            }
    
            .country-info-display1{
                margin: 0;
                text-align: start;
                align-self: start;
            }
        }
     
        .flag{
          width:100%;
          height: auto;
          margin: 0 auto 100px;
          justify-self: center;
        }
        
        .country-name{
            font-size: 30px;
            font-weight: 800;
            margin-bottom: 20px;
        }
        
        .border-countries{
            display: flex;
            flex-wrap: wrap;
        }        
    }
}